.title {
  text-align: left;
  padding-left: 20vw;
}

.qc-container {
  margin: 5vh 0 30vh 0;
}

.mid-box {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.equals {
  font-size: 20pt;
  padding: 5px 15px;
  display: inline-block;
}

.swap-button {
  display: inline-block;
  font-size: 20pt;
  padding: 5px 30px;
}

.swap-button:hover {
  cursor: pointer;
}
.chart-title {
  border-bottom: 1px solid rgb(140,189,188);
  color: rgb(61,177,161);
}
#chart {
  padding: 20px;
}

@media screen and (max-width: 992px) {
  .mid-box {
    justify-content: space-around;
  }
}